html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans', sans-serif;
    /* border: 3px solid red; */
    /* margin: 0 10rem; */
    width: 80%;
    margin: 0 auto;


}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #A51F10;
    margin: 0;
}
a {
    color: #DA0090;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.posted {
    font-size: 0.8rem;
    color: #89A611;
}
footer {
    text-align: center;
    font-size: 0.8rem;
    display:flex;
    flex-flow: column nowrap;
}
header {
    display: flex;
    /* justify-content: center; */
    flex-flow: row nowrap;
    justify-content: space-between;
}
header .leftheader {
    flex-basis: 40%;
    text-align: right;
    margin-right: 1rem;
}
header .rightheader {
    flex-basis: 60%;
    margin: 1rem 0 1rem 0;
}
header h1 {
    color: plum;
    font-size: 3rem;
    /* border: 3px solid yellow; */
    margin-bottom: 0px;
}
header p {
    /* border: 3px solid red; */
    margin-top: 0;
}
nav {
    border-top: 1px solid brown; 
    border-bottom: 1px solid brown; 
}
nav ul {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
    /* border: 1px solid red; */
    width: 5rem;
    
}
nav a {
    text-decoration: none;
    display: block;
    padding: 0.3rem 0;
    
}
nav a:hover {
    background-color: black;
    color: lightgreen;
    /* text-decoration: none; */
}
article{
    margin: 2rem 0;
    display: flex;
    flex-flow: row nowrap;
}
img {
    margin-right: 2rem;
    border-radius: 10%;
}
footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
footer li {
    display: inline-block;
    width: 2rem;
}
section {
    border-bottom: 1px solid pink;
    margin-bottom: 0.3rem;
}
footer {
    border-top: 1px solid brown;
}